header 
    .header     
        img(class="header-img", src="src/images/logo.svg", alt="logo")         
        ul.control 
            li.control-item
                    a.control_a( href='https://www.youtube.com/') Cкачать приложение